#select{
    width: 10%;
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #007bff!important;
    color: #fff;
}

#results{
    margin-left: 55%;
    margin-bottom: 5px;
    font-weight: bold;
}